<div class="container-fluid">
  <div class="row">
    <div class="col mb-4" *ngFor="let starship of starships">
          <div class="card p-2" style="width: 15rem; height: 18rem; background-color: #151414; color:rgb(255, 255, 255)">
            <img
                class="card-img-top"
                src="https://images.saymedia-content.com/.image/t_share/MTc1MTEzMzMzMTE5Mzk0OTEx/top-6-iconic-spaceships-in-star-wars.jpg"
              />
              <div class="card-body">
                <h5 class="card-title">{{ starship.name }}</h5>
                  <p class="card-text"> modelo: [{{ starship.model }}]</p>
              </div>
           </div>
      </div>
   </div>
</div>